article h1, article h2, article h3, article h4, article h5, article h6 {
	font-family: "Open Sans","Tahoma","Verdana","Arial", sans-serif;
	color: #535353;
	/*color:#444;*/
	line-height: 1.35;
}

article p, article li {
	text-align: justify;
  font-family: "Open Sans","Tahoma","Verdana","Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
	line-height: 1.7;
	color: #535353;
}
